body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-bottom: 25px;
}

.about-me-description{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: white;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content section*/

.main-container-section {
    padding: 100px 90px;
}

.main-contant-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
/* about me section */
.about-me-section {
    margin-bottom: 40px;
}

/* my projects section */

.my-projects-iitem{
    color: #000;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.my-projects-ttt{
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.my-projects-ttext{
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
}

.my-projects-bracket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.my-project-section {
    margin-bottom: 50px;
}

.my-projects-list{
    padding: 0 0 0 17px;
}
/* work-expirience */

.work-expirience-company{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.work-expirience-posision{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}

.work-expirience-time{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px; 
    color: #A8A8A8;   
    margin: 0 0 10px 0; 
}

.work-expirience-slash{
    color: #000;
}

.work-expirience-duties{
    padding: 0 0 0 18px;
}

.work-expirience-dut{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.main-contant-companyy{
    margin: 0 15px 0 0;
}

.work-expirience-company,
.work-expirience-time,
.education{
    margin: 0 0 10px 0; 
}

/* sidebar section */
.sidebar-section {
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.soft-skills-section,
.contact-section,
.tech-skills-section{
    margin: 50px 0 0 40px;
}

.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
}
 
.my-photo{
    width: 370px;
    height: 400px;
    left: 40px;
    top: 80px;
}


/* contact section */
.contact-section-title{
    margin-right: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
}

.contact-section-link{
    color: #565E6A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.tech-skills{
    padding: 0 0 0 18px;
}

.tech-skills-item{
    color: #FB6D3A;
}

.tech-skills-item-text{
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

/* soft skills */

.soft-skills{
    padding: 0 0 0 18px;
}

.soft-skills-item{
    color: #FB6D3A;
}

.soft-skills-item-text{
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

